ul{
    list-style-type: none;
}

#library-header{
    text-align: center;

}

#library{
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
}

.book-entry{
    padding-top: 50px;
}

#menu-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 40%;
    padding-right: 40%;
}

#add-new{
    font-size: 2vh;
}
#clear-library{
    font-size: 2vh;
}

#modal-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal {
    position: relative;
}

.removeButtonContainer{
    background-color: black;

}