body{
    background-color: cadetblue;
}

ul{
    list-style-type: none;
}

button{
    border-color: black;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

#library-header{
    text-align: center;
    font-size: 10vh;

}

#library{
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
}


#menu-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 40%;
    padding-right: 40%;
}

#add-new{
    font-size: 2vh;
}
#clear-library{
    font-size: 2vh;
}

#modal-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
#modal {
    position: relative;
    height: 35vh;
    width: 25vw;
}
#user-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#user-input-container, #author-name-css, #pages-css{
    padding-top: 5%;
    font-size: 3vh;
}




#submit-close-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#close-button, #submit-button{
    height: 3vh;
    width: 5vw;    
}

#clear-library, #add-new{
    height: 5vh;
    width: 8vw;
}



.remove-button-style{
    height: 3vh;
    width: 4.5vw;
    margin-left: 1vw;
    background-color: aqua;
    
}

.read-button-style{
    height: 3vh;
    width: 4.5vw;
    margin-left: 1vw;
    background-color: lightcoral;
}





.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    border-color: black;
    gap: 3vw;
    padding: 50px;
}
.book-entry {
    background-color: #f5c892; 
    border: 6px solid black;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.book-title, .book-author, .book-pages{
    margin-bottom: 3vh;
}

.book-title{
    font-weight: bold;
    font-size: 3.5vh;

}

.book-author{
    
}

.book-pages{

}

